
.texto1{
    color: blue;
    background-color: red;
    margin-top: -20px;
}
.container2{
    margin-top: -15px;
}
.texto{
    margin-left: 560px;
    margin-top: -520px;
}
.texto2{
    margin-top: -50px;
}